contourpy==1.1.1
cycler==0.12.1
fonttools==4.46.0
importlib-resources==6.1.1
importlib_metadata==7.1.0
kiwisolver==1.4.5
llvmlite==0.41.1
matplotlib==3.7.4
numba==0.58.1
numba-stats==1.4.1
numpy==1.24.4
packaging==23.2
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
scipy==1.10.1
six==1.16.0
zipp==3.17.0
